* {
  font-size: 12px;
}

body {
  background-color: #f1f1f1f;
  margin: 20px;
}

h1 {
  font-size: 2rem;
  color: blue;
  font-weight: bold;
  text-align: center;
}

.form {
  font-size: 15px;
  color: red;
  font-weight: bold;
}
